.main {
    height: calc(100vh - 12vh) !important;
    display: flex;
    align-items: center;
    margin-left: 150px !important;
    padding: 0% 5px;
}

@media only screen and (max-width: 640px) {
    .main {
        margin-left: 80px !important;
        align-items: flex-start;
    }
}
