<div class='skills-main'>
    <h1 class="font-bold main-h1">{{'skill.skilltitle' | translate}}</h1>
    <div class="my-4">
        <div class="row">
            <div class="col-lg-3 col-12">
                <h5 class="font-bold">{{'skill.front' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>JavaScript</li>
                    <li>Angular, NgRx</li>
                    <li>Vue JS, Vuex</li>
                    <li>Nuxt JS</li>
                    <li>Html 5, Css 3, Sass</li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h5 class="font-bold">{{'skill.back' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Node JS, Express JS</li>
                    <li>Php</li>
                    <li>Laravel MVC</li>
                    <li>C#</li>
                    <li>Asp.Net Core</li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h5 class="font-bold">{{'skill.db' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>MongoDB</li>
                    <li>MySQL</li>
                    <li>Microsoft SQL Server</li>
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h5 class="font-bold">{{'skill.cms' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Wordpress</li>
                </ul>
            </div>

        </div>

        <div class="row my-lg-4">
            <div class="col-lg-4 col-12">
                <h5 class="font-bold">{{'skill.mobile' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Dark, Flutter</li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <h5 class="font-bold">{{'skill.model' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Unified Modeling Language</li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <h5 class="font-bold">{{'skill.version' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Git</li>
                    <li>GitHub</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-12">
                <h5 class="font-bold">{{'skill.graph' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Adobe XD</li>
                    <li>Adobe Photoshop</li>
                </ul>
            </div>
            <div class="col-lg-4 col-12">
                <h5 class="font-bold">{{'skill.bureautique' | translate}}</h5>
                <ul class="list-unstyled">
                    <li>Microsoft Excel</li>
                    <li>Microsoft Word</li>
                    <li>Microsoft Powerpoint</li>
                </ul>
            </div>
        </div>
    </div>
    <a [routerLink]="['/project']"
        class="btn bg-transparent text-light main-btn font-bold mt-1 font-small mb-5">{{'skill.skillbtn' | translate}}</a>
</div>