<h1 class="font_bold myh1">{{'about.abouttitle' | translate}}</h1>
<p class="font_semibold my-4 p_aboutme" style="width: 85% ;">
   {{'about.mynameis' | translate}}
  <span class="myname">Anas MASTI</span>,
   {{'about.im' | translate}}
  <span class="myname" >{{'about.webdevdes' | translate}}</span>
   , {{'about.pres1' | translate}} <br><br>
   {{'about.pres2' | translate}} <br><br>
   {{'about.pres3' | translate}}</p>
<a [routerLink]="['/skill']" class="btn bg-transparent text-light myBtn font_bold mt-3 font_small mb-5">{{'about.aboutbtn' | translate}} </a>
