.sidenav {
    width: 60px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2b28;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }
.sidenav a {
  margin-top: 35px !important;
  margin-left: 50%;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  color: #ebca9c;
}
.sidenav a:hover {
  color: #eebc71;
}
.nav-link{
 color: #ebca9c !important ;
}
.nav-link :hover {
  color: #eebc71;
}
.bg_btn_fr{
  background-image: url("/assets/images/fr.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 13px !important;
  padding-right: 13px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-color: #ebca9c !important; border-style: solid !important; border-width: 1.2px !important;
}
.bg_btn_en{
  background-image: url("/assets/images/en.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 13px !important;
  padding-right: 13px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-color: #ebca9c !important; border-style: solid !important; border-width: 1.2px !important;
}

.menuicon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #ebca9c;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-50deg) translate(-8px, 8px);
  transform: rotate(-50deg) translate(-8px, 8px);
  animation: none;
  transform-origin: center;
}

.change .bar2 {opacity: 0; animation: none;transform-origin: center;}

.change .bar3 {
  -webkit-transform: rotate(50deg) translate(-8px, -8px);
  transform: rotate(50deg) translate(-8px, -8px);
  animation: none;
  transform-origin: center;
}
.bar1{
  animation: bar1animation 2s infinite  ;
  transform-origin: left;
}
.bar2{
  animation: bar2animation 2s infinite  ;
  transform-origin: left;
}
.bar3{
  animation: bar3animation 2s infinite  ;
  transform-origin: left;
}

@keyframes bar1animation {
  0%{
    transform: scaleX(1)
  }
  50%{
    transform: scaleX(0.8);

  }
  100%{
    transform: scaleX(1);

  }
}
@keyframes bar2animation {
  0%{
    transform: scaleX(1)
  }
  50%{
    transform: scaleX(0.6);

  }
  100%{
    transform: scaleX(1);

  }
}
@keyframes bar3animation {
  0%{
    transform: scaleX(1)
  }
  50%{
    transform: scaleX(0.3);

  }
  100%{
    transform: scaleX(1);

  }
}

.mymenu{
  position: absolute; top: 38px;  left: 8px;
}

.fullscreenbtn{
  position: absolute; bottom: 35px; left: -15px;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

