<h1 class="font_bold myh1">{{'contact.contacttitle' | translate}}</h1>
<section class="hero-section my-4 pr-5 ">
  <div class="card-grid">
    <a class="mycard" target="_blank" href="https://wa.me/212660548100?text={{'contact.msg' | translate}}">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/whatsapp.webp)"></div>
      <div class="card__content">
        <p class="card__category">Message</p>
        <h3 class="card__heading">WhatsApp</h3>
      </div>
    </a>
    <a class="mycard" target="_blank" href="https://m.me/anas.masti.96">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/messenger.webp)"></div>
      <div class="card__content">
        <p class="card__category">Message</p>
        <h3 class="card__heading">Facebook Messanger</h3>
      </div>
    </a>
    <a class="mycard" target="_blank" href="https://t.me/anasmasti">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/telegram.webp)"></div>
      <div class="card__content">
        <p class="card__category">Message</p>
        <h3 class="card__heading">Telegram</h3>
      </div>
    </a>
    <a class="mycard" target="_blank" href="mailto:anasmasti@hotmail.com?subject=Portfolio Contact&body={{'contact.msg' | translate}}">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/mail.webp)"></div>
      <div class="card__content">
        <p class="card__category">E-Mail</p>
        <h3 class="card__heading">Mail</h3>
      </div>
    </a>
  </div>
</section>
