.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.597);
}

.modal-content {
    padding: 50px;
    width: auto;
    background-color: rgb(16, 15, 15);
    border-radius: 26px;
}

.close-icon {
    color: #eebc71;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.close-icon:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.open {
    display: flex;
    justify-content: center !important;
}