.about-me-text {
  font-size: 24px;
  width: 85%;
}

@media only screen and (max-width: 800px) {
  .about-me-text {
    font-size: 21px;
  }
}

@media only screen and (min-width: 326px) and (max-width: 480px) {
  .about-me-text {
    font-size: 16px;
    width: 90%;
  }
}

@media only screen and (max-width: 324px) {
  .about-me-text {
    font-size: 16px;
  }
}
