<h1 class="font-bold main-h1 d-inline">{{'about.abouttitle' | translate}}</h1>
<button (click)='openModal()'
    class="btn text-light main-btn font-small float-right font-bold mr-2 mr-lg-5">{{'about.form.button_donwload' |
    translate}}</button>
<p class="font-emibold my-4 about-me-text" style="width: 85% ;">
    {{'about.my-nameis' | translate}}
    <span class="my-name">Anas MASTI</span>, {{'about.im' | translate}}
    <span class="my-name">{{'about.webdevdes' | translate}}</span> , {{'about.pres1' | translate}} <br><br>
    {{'about.pres2' | translate}} <br><br> {{'about.pres3' | translate}}
</p>
<a [routerLink]="['/skill']"
    class="btn bg-transparent text-light main-btn font-bold mt-3 font-small mb-5">{{'about.aboutbtn' | translate}}</a>

<app-dialog-modal>
    <h5 *ngIf="resumeAccessError"><span class="badge bg-danger">{{ resumeAccessError }}</span></h5>
    <h2 class="font-bold py-2">{{'about.form.title' | translate}}</h2>
    <input type="text" class="my-3" [(ngModel)]="resumeKeyAccess">
    <button class="btn text-light main-btn font-bold font-small" (click)='downloadResume(resumeKeyAccess)'
        download>{{'about.form.button_donwload' | translate}}</button>
</app-dialog-modal>