<section>
    <div class="d-flex justify-content-between flex-column flex-lg-row">
        <div>
            <h1 class="font-bold main-h1">{{'about.title' | translate}}</h1>
        </div>
        <div class="mr-lg-5 mt-3">
            <button (click)='openModal()'
                class="btn text-light main-btn font-bold ">{{'about.form.button_donwload' |
                translate}}</button>
        </div>

    </div>
    <p class="font-emibold my-4 about-me-text">
        {{'about.my-name-is' | translate}}
        <span class="my-name">Anas MASTI</span>, {{'about.im' | translate}}
        <span class="my-name">{{'about.job-title' | translate}}</span>, {{'about.description-1' | translate}} <br><br>
        {{'about.description-2' | translate}} <br><br> {{'about.description-3' | translate}}
    </p>
    <a [routerLink]="['/skill']"
        class="btn bg-transparent text-light main-btn font-bold mt-3 font-small mb-5">{{'about.button' | translate}}</a>
</section>

<app-dialog-modal>
    <h5 *ngIf="resumeAccessError"><span class="badge bg-danger">{{ resumeAccessError }}</span></h5>
    <h2 class="font-bold py-2">{{'about.form.title' | translate}}</h2>
    <input type="text" class="my-3" [(ngModel)]="resumeKeyAccess">
    <button class="btn text-light main-btn font-bold font-small" (click)='downloadResume(resumeKeyAccess)'
        download>{{'about.form.button_donwload' | translate}}</button>
</app-dialog-modal>