<h1 class="font_bold myh1">{{'skill.skilltitle' | translate}}</h1>
<div class="my-4">
<div class="row ">
    <div class="col-lg-2 col-12">
      <h5 class="font_bold">{{'skill.front' | translate}}</h5>
       <ul>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Vue Js</li>
        <li>Html 5, Css 3, Sass, Bootstrap</li>
        <li>Jquery, Json, Axios, Ajax, AnimeJs</li>
        <li>Wordpress</li>
       </ul>
    </div>
    <div class="col-lg-2 col-12">
        <h5 class="font_bold">{{'skill.back' | translate}}</h5>
        <ul>
        <li>Php</li>
        <li>Laravel MVC</li>
        <li>Node Js</li>
        <li>Express Js</li>
        <li>C#</li>
        <li>Asp.net</li>
        <li>Ado dot net</li>
       </ul>
    </div>
    <div class="col-lg-2 col-12">
        <h5 class="font_bold">{{'skill.db' | translate}}</h5>
        <ul>
        <li>Microsoft SQL Server</li>
        <li>MySQL</li>
        <li>MongoDB</li>
       </ul>
    </div>
    <div class="col-lg-2 col-12">
        <h5 class="font_bold">{{'skill.model' | translate}}</h5>
        <ul>
        <li>Unified Modeling Language</li>
        <li>Merise</li>
       </ul>
    </div>
    <div class="col-lg-4 col-12">
        <h5 class="font_bold">{{'skill.graph' | translate}}</h5>
        <ul>
        <li>Adobe Photoshop</li>
        <li>Adobe XD</li>
        <li>Fnal Cut Pro x</li>
       </ul>
    </div></div>
<div class="row">
    <div class="col-lg-2 col-12">
        <h5 class="font_bold">{{'skill.bureautique' | translate}}</h5>
        <ul>
        <li>Microsoft Excel</li>
        <li>Microsoft Word</li>
       </ul>
    </div>
    <div class="col-lg-2 col-12">
      <h5 class="font_bold">{{'skill.version' | translate}}</h5>
      <ul>
      <li>Git</li>
      <li>GitHub</li>
     </ul>
  </div>
</div></div>
<a [routerLink]="['/project']" class="btn bg-transparent text-light myBtn font_bold mt-1 font_small mb-5">{{'skill.skillbtn' | translate}} </a>



