<app-navbar></app-navbar>
<div class="main">
<router-outlet></router-outlet>
<div id="myslide" class="myslideclass">
<div id="leftslide" class="leftslideclass">
  <img class="leftlogo" src="assets/images/leftlogo.png" alt="Anas Masti Logo">
</div>
<div id="rightslide" class="rightslideclass">
  <img class="rightlogo" src="assets/images/rightlogo.png" alt="Anas Masti Logo">
</div>
</div>
<div class="fullmenu" id="fullmenu">
  <ul class="fullmenulist">
   <li><a [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.home' | translate}}</a></li>
   <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.about' | translate}}</a></li>
   <li><a [routerLink]="['/skill']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.skill' | translate}}</a></li>
   <li><a [routerLink]="['/project']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.project' | translate}}</a></li>
   <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">{{'nav.contact' | translate}}</a></li>
  </ul>
</div>
</div>

