<div class="d-flex justify-content-center align-items-start flex-column mt-5 mt-lg-auto">
  <h1 class="font_bold pt-lg-3 myh1 ml6">
    {{'home.hello' | translate}} <br> {{'home.mynameis' | translate}}
    <span class="myname mytitle" #myName>Anas Masti</span>,<br> {{'home.im' | translate}}
    <span class="myname">{{'home.webdev' | translate}} </span>
  </h1>

  <a [routerLink]="['/about']" class="btn bg-transparent text-light myBtn font_bold mt-5 font_small">
    {{'home.homebtn' | translate}}
  </a>

  <a [routerLink]="['/about']" aria-label="Down" class="btn text-light bg-transparent font_bold mt-5">
    <span class="icon-angle-down myicon"></span>
  </a>
</div>