nav {
  height: 12vh;
}

.nav-link {
  color: #ebca9c !important;
}

.nav-link :hover {
  color: #eebc71;
}

.btn-lang {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-color: #ebca9c !important;
  border-style: solid !important;
  border-width: 1.2px !important;
}

.bg-btn-lang-fr {
  background-image: url("/assets/images/lang/fr.webp");
}

.bg-btn-lang-en {
  background-image: url("/assets/images/lang/en.webp");
}

.menuicon {
  display: inline-block;
  cursor: pointer;
}
