<div style="position: relative; margin-top: 20%;">
<h1 class="font_bold d-inline myh1" style="margin-top: 500px !important;">{{'project.projecttitle' | translate}}</h1>
<a [routerLink]="['/contact']" class="btn bg-transparent text-light myBtn font_bold mr-5 mb-4 font_small float-right forDesktop ">{{'project.projbtn' | translate}} </a>

<section class="hero-section my-4 pr-5 ">
  <div class="card-grid">
    <a class="mycard" (click)="openModel()">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/rcoz.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Rapide Club d'Oued-Zem</p>
        <h3 class="card__heading">{{'project.rcoz' | translate}}</h3>
      </div>
    </a>
    <a class="mycard" (click)="openModel()">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/mediexperts.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Mediexperts</p>
        <h3 class="card__heading">{{'project.mediexperts' | translate}}</h3>
      </div>
    </a>
    <a class="mycard" target="_blank" href="http://matiplas.ma">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/matiplas.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Matiplas</p>
        <h3 class="card__heading">{{'project.matiplas' | translate}}</h3>
      </div>
    </a>
    <a class="mycard" data-bs-toggle="modal" (click)="openModel()">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/mysys.jpg)"></div>
      <div class="card__content">
        <p class="card__category">MySys</p>
        <h3 class="card__heading">{{'project.mysys' | translate}}</h3>
      </div>
    </a>
    <a class="mycard" (click)="openModel()">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/copra.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Copra Shop</p>
        <h3 class="card__heading">{{'project.copra' | translate}}</h3>
      </div>
    </a>
    <a class="mycard" target="_blank" href="https://play.google.com/store/apps/developer?id=Anas+Masti&hl=fr&gl=US">
      <div class="card__background" style="background-image:linear-gradient(#282b2b67,#2b2b2810), url(assets/images/ps.jpg)"></div>
      <div class="card__content">
        <p class="card__category">PlayStore</p>
        <h3 class="card__heading">{{'project.ps' | translate}}</h3>
      </div>
    </a>
  </div>
</section>

<div id="model" class="modal" #model>
  <div class="modal-content">
    <span class="close" (click)="closeModel()">&times;</span>
    <h2 class="font_bold py-2">{{'modal.text' | translate}}</h2>
  </div>
</div>
</div>
