<h1 class="font_bold pt-lg-3 myh1">
    {{'home.hello' | translate}} <br>
    {{'home.mynameis' | translate}}
    <span style="color: #f1d6ab;" class="mytitle">Anas Masti</span>, <br>
    {{'home.im' | translate}}
    <span style="color: #f1d6ab;" >{{'home.webdev' | translate}} </span> <i class="fas fa-code"></i>
  </h1>
  
  <a [routerLink]="['/about']" class="btn bg-transparent text-light myBtn font_bold mt-5 font_small">{{'home.homebtn' | translate}} </a>
  <a [routerLink]="['/about']" class="btn text-light bg-transparent font_bold mt-5 mr-5 float-right"><i class="fas fa-long-arrow-alt-down fa-3x  myicon"></i></a>
  
  